<div id="<%= dom_id ticket %>">
  
    <strong>Type:</strong>
    <%= ticket.name %>
    <strong>Quantity:</strong>
    <%= ticket.quantity %>
    <strong>Price:</strong>
    <%= ticket.price %>

</div>
